downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
.env
.wav
.mp4
.png
.jpg
.jpeg
.env.*
.idea/
.vscode/
videos/
output/
songs/
overlays/
images/
youtube_config.py
youtube_token.json
